* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.895rem;
  font-family: 'Figtree',
    sans-serif;
}

.page {
  height: 100vh;
  overflow: hidden;
  background-color: #F3F4F6;
}
