<div class="activity px-4">
  <!-- <div class="list-container mt-5">
    <div class="list py-3">
      <strong>Watsons</strong>
      <p>09/12/2022 01:00pm</p>
    </div>
    <div class="list py-3">
      <strong>Department Store</strong>
      <p>09/12/2022 01:00pm</p>
    </div>
  </div> -->
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let list of activityList">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ list.establishmentDescription }}</h5>
        <small>{{ list.timeStamp | date: 'short' }}</small>
      </div>
      <p class="mb-1">{{ list.address }}</p>
    </a>
  </div>
</div>