.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  overflow: show;

  h5 {
    margin: auto 0;
    color: $primary-color;
  }

  .user-icon {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      bottom: 0;
    }
  }
}
