    <div class="form-container">
      <h5 class="mt-4">Setup Password</h5>
      <div class="form-floating">
        <input type="password" [(ngModel)]="signupModel.password" name="password" #password="ngModel"
          class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label *ngIf="!hasError(password)" for="floatingInput">Password</label>
        <label *ngIf="hasError(password)" class="text-danger">Password is required</label>
      </div>
      <div class="form-floating">
        <input type="password" [(ngModel)]="signupModel.confirmPassword" name="confirmPassword"
          #confirmPassword="ngModel" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label
          *ngIf="!hasError(confirmPassword) && !confirmPassword.touched || signupModel.confirmPassword === signupModel.password"
          for="floatingInput">Confirm
          password</label>
        <label *ngIf="hasError(confirmPassword) && signupModel.confirmPassword == ''"
          class="text-danger">Required</label>
        <label
          *ngIf="signupModel.confirmPassword != signupModel.password && confirmPassword.touched && confirmPassword.touched && signupModel.confirmPassword != ''"
          class="text-danger">Password
          does
          not
          match!</label>
      </div>
    </div>
